@import url(./__title/form__title.css);
@import url(./__btn-save/form__btn-submit.css);
@import url(./__btn-submit/form__btn-submit.css);
@import url(./__btn-submit/_disabled/form__btn-submit_disabled.css);
@import url(./__input/form__input.css);

.form {
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 36px;
  max-width: 430px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 510px) {
  .form {
    padding: 30px 20px;
  }
}
