@import url(./_type/input_type_hobby.css);
@import url(./_type/input_type_name.css);

input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #000000;
  padding: 13px 0;
  width: 100%;
}

.input:focus {
  outline: none;
}