.form__title {
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #000000;
  margin: 0 0 38px;
}

@media screen and (max-width: 510px) {
  .form__title {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin: 0 0 12px;
  }
}