.element__title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
  margin: 0 10px 0 21px;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.45rem;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}