.profile-edit__hobby {
  font-style: normal;
  font-weight: lighter;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 13px 0;
  width: 100%;
}