.profile__photo {
  border-radius: 50%;
  width: 120px;
  margin: 26px 0;
}

@media screen and (min-width: 620px) {
  .profile__photo {
    justify-self: center;
    width: 172px;
    margin: 0;
  }
}

@media screen and (min-width: 920px) {
  .profile__photo {
    width: 120px;
    margin: 26px 0;
  }
}