.btn_type_close {
  background-image: url(./../../../images/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 58px;
  height: 58px;
  background-color: transparent;
  border: none;
}

@media screen and (pointer: fine) {
  .btn_type_close:hover {
    opacity: .6;
  }
}

@media screen and (max-width: 620px) {
  .btn_type_close {
    width: 30px;
    height: 30px;
    background-size: 40px 40px;
  }
}