.btn_type_save {
  color: #ffffff;
  background-color: #000000;
  font-style: normal;
  font-weight: lighter;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  border: none;
  border-radius: 2px;
  width: 100%;
  padding: 13px 0;
}

@media screen and (pointer: fine) {
  .btn_type_save:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}